.apptopbar {
  background: var(--surface-card);
  padding: 0.5rem;
}

.apptopbar_content {
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
  margin: 0 auto;
  align-items: center;
}

.apptopbar_content_left {
  display: flex;
  gap: 1rem;
}
.apptopbar_content_right {
  display: flex;
  gap: 1rem;

  &_nav {
    display: block;
  }
}

.navigation_bar {
  display: flex;
  gap: 1rem;
  color: black;
}

.navigation_bar_item {
  color: var(--text-color-secondary);
  font-size: 0.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 4rem;
  justify-content: space-between;
  padding: 0.2rem;

  &:hover {
    cursor: pointer;
  }

  &::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: var(--primary-color);
    transition: width 0.3s;
  }

  &:hover::after {
    width: 100%;
    transition: width 0.3s;
  }
}

.navigation_bar_active_item {
  background: var(--surface-ground);

  &::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: var(--primary-color);
    transition: width 0.3s;
    width: 100%;
  }
}

@media (max-width: 1440px) {
  .apptopbar_content {
    margin: 0 0.5rem;
  }
}

@media (max-width: 776px) {
  .apptopbar_content_right_nav {
    display: none;
  }
  .navigation_bar_item {
    width: 25%;
  }
  .navigation_bar {
    background: var(--surface-card);
    border-top: 1px solid var(--surface-border);
  }
}
