.navigation_bar {
  @include flex_dir_align_justify_gap($gap: 0.25rem);
}

.navigation_bar_item {
  @include flex_dir_align_justify_gap(column, center, space-between, 0rem);
  @extend %underlined-animation;
  @extend %secondary_text_3;
  width: 5rem;
  padding: 0.25rem;

  &:hover {
    cursor: pointer;
    background: var(--surface-hover);
  }

  &_active {
    @extend %underlined-animation;
    background: var(--surface-hover);

    &::after {
      width: 100%;
    }
  }
}

.mobile {
  display: none;
}

@media (max-width: 776px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
  }

  .navigation_bar_item {
    width: 25%;
  }

  .navigation_bar {
    background: var(--surface-card);
    border-top: 1px solid var(--surface-border);
    width: 100%;
  }
}
