.container {
  @include flex_dir_align_justify_gap($justify: space-between, $align: center);
  margin-top: auto;
  width: 100%;
}

.cart_btn {
  flex-grow: 1;
}

.favorite_btn {
  flex-shrink: 1;
}

.with_gap {
  gap: 2rem;
}
