@import "@/styles/mixins.scss";

.container {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 2fr 6fr;
}

.left_side {
  @include card;
  @include flex_dir_align_justify_gap(column, center, center, 1rem);
  align-self: start;

  &_image_container {
    width: 100%;
    height: 120px;
    position: relative;

    &_bg {
      height: 50%;
      background: var(--surface-ground);
    }

    &_image {
      top: 30px;
      left: 50%;
      transform: translate(-50%, 0);
      position: absolute;

      border-radius: 50%;
    }
  }

  &_info {
    text-align: center;

    &_name {
      @include flex_dir_align_justify_gap($dir: column, $align: center);
      @include underlined-animation;
      font-weight: bold;
    }

    &_status {
      color: var(--text-color-secondary);
      font-size: 0.85rem;
    }
  }
}
