.container {
  display: flex;
  gap: 1rem;
  align-items: center;

  input {
    width: 18rem;
  }
}

@media (max-width: 776px) {
  .container {
    flex-shrink: 1;

    input {
      width: auto;
    }
  }
}
