.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  @include flex_dir_align_justify_gap($gap: 1rem, $dir: column);
  overflow-x: scroll;
}

.content {
  @include flex_dir_align_justify_gap($gap: 1rem);
  width: 100%;
  padding: 1rem 0rem;
}
