.card {
  @extend %card;
  @extend %card-hover;
  @include flex_dir_align_justify_gap($gap: 1rem);

  &_image_container {
    position: relative;
    height: 16rem;
    flex: 1 0 50%;
  }

  &_info_container {
    @include flex_dir_align_justify_gap($dir: column, $gap: 0.25rem);
    height: 100%;
    width: 100%;

    &_price {
      @extend %title_1;
    }

    &_rating {
      @include flex_dir_align_justify_gap($align: center, $gap: 0.5rem);
      span {
        padding-top: 0.2rem;
        @extend %title_2;
      }
    }

    &_title {
      @extend %title_1;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 10rem;
    }

    &_brand {
      @extend %secondary_text_3;
    }

    &_actions {
      @include flex_dir_align_justify_gap($justify: space-between, $align: center);
      width: 100%;
      margin-top: auto;
    }
  }
}
