@mixin flex_dir_align_justify_gap($dir: row, $align: flex-start, $justify: flex-start, $gap: 0) {
  display: flex;
  flex-direction: $dir; // row, column, row-reverse, column-reverse
  align-items: $align; // stretch, center, flex-start, end
  justify-content: $justify; // flex-start, center, space-between, space-around, space-evently
  gap: $gap;
}
