%underlined-animation {
  &::after {
    content: "";
    display: block;
    width: 0;
    height: 1px;
    background: var(--primary-color);
    transition: width 0.3s;
  }

  &:hover::after {
    width: 100%;
    transition: width 0.3s;
  }
}

%card {
  background-color: var(--surface-card);
  border-radius: var(--border-radius);
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.02), 0px 0px 2px rgba(0, 0, 0, 0.05), 0px 1px 4px rgba(0, 0, 0, 0.08);
  padding: 0.5rem;
}

%card-hover {
  &:hover {
    background-color: var(--surface-hover);
    cursor: pointer;
  }
}

%secondary_text_1 {
  font-size: 1.5rem;
  color: var(--text-color-secondary);
}
%secondary_text_2 {
  color: var(--text-color-secondary);
}
%secondary_text_3 {
  color: var(--text-color-secondary);
  font-size: 0.75rem;
}

%title_1 {
  font-size: 1.5rem;
  font-weight: bold;
}

%title_2 {
  font-weight: bold;
}
%title_3 {
  font-size: 0.75rem;
  font-weight: bold;
}
