.card {
  @extend %card;
  @extend %card-hover;
  @include flex_dir_align_justify_gap($dir: column, $gap: 0.25rem);
  width: 100%;
  min-width: 16rem;

  &_image_container {
    position: relative;
    width: 100%;
    height: 10rem;
  }

  &_price {
    @extend %title_1;
  }

  &_rating {
    @include flex_dir_align_justify_gap($align: center, $gap: 0.5rem);
    span {
      padding-top: 0.2rem;
      @extend %title_2;
    }
  }

  &_title {
    @extend %secondary_text_2;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 12rem;
  }

  &_brand {
    @extend %secondary_text_3;
  }
}
