@import "@/styles/mixins.scss";

.apptopbar {
  @include flex_dir_align_justify_gap(row, center, start, 0rem);
  @include fixed_top;
  background: var(--surface-card);
  border-bottom: 1px solid var(--surface-border);
  padding: 0.5rem;
  height: 70px;
}

.apptopbar_content {
  @include width-wrapper;
  @include flex_dir_align_justify_gap(row, center, space-between, 0rem);
  width: 100%;
}

.apptopbar_content_left {
  flex-grow: 1;
  @include flex_dir_align_justify_gap($gap: 1rem);
}

.apptopbar_content_right {
  @include flex_dir_align_justify_gap($gap: 1rem);

  &_nav_mobile {
    @include fixed_bottom;
    display: none;
  }
}

.navigation_bar {
  display: flex;
}

.navigation_bar_item {
  @include flex_dir_align_justify_gap(column, center, space-between, 0rem);
  color: var(--text-color-secondary);
  font-size: 0.65rem;
  width: 5rem;
  padding: 0.25rem;

  &:hover {
    cursor: pointer;
  }

  @include underlined-animation;
}

.navigation_bar_active_item {
  background: var(--surface-ground);

  @include underlined-animation;

  &::after {
    width: 100%;
  }
}

.profile_item_image_container {
  height: 28.5px;
}

@media (max-width: 1280px) {
  .apptopbar_content {
    margin: 0;
  }
}

@media (max-width: 776px) {
  .apptopbar_content_right_nav {
    display: none;
  }

  .apptopbar_content_right_nav_mobile {
    display: block;
  }

  .navigation_bar_item {
    width: 20%;
  }

  .navigation_bar {
    background: var(--surface-card);
    border-top: 1px solid var(--surface-border);
  }
}
