.layout {
  @include flex_dir_align_justify_gap(column, flex-start, flex-start, 0.5rem);
  padding-top: 80px;
}

.layout_content {
  @extend %width-wrapper;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 8fr 2.5fr;
  min-height: 88vh;
}

@media (max-width: 991px) {
  .layout_content {
    display: block;
  }
}
