.right_side_bar {
  @include flex_dir_align_justify_gap(column, center, flex-start, 1rem);
  @extend %card;
  align-self: start;
  min-width: 15rem;

  &_content {
    @include flex_dir_align_justify_gap(column, center, flex-start, 1rem);

    &_item {
      @include flex_dir_align_justify_gap($gap: 1rem);
      @extend %card;
      background: var(--surface-hover);
      border: none;

      &_content {
        @include flex_dir_align_justify_gap(column, flex-start, flex-start, 0.25rem);

        &_title {
          @extend %title_2;
        }

        &_descrription {
          @extend %description_3;
        }
      }
    }
  }

  &_link {
    @include flex_dir_align_justify_gap(row, center, flex-start, 0.5rem);
    @extend %title_2;
    border-radius: 1rem;
    padding: 0.5rem;

    &:hover {
      background: var(--surface-hover);
    }
  }

  &_footer {
    @include flex_dir_align_justify_gap(row, center, flex-start, 1rem);
  }
}

@media (max-width: 991px) {
  .right_side_bar {
    display: none;
  }
}
