%fixed_bottom {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 100;
}

%fixed_top {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;
}

%underlined-animation {
  &::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: var(--primary-color);
    transition: width 0.3s;
  }

  &:hover::after {
    width: 100%;
    transition: width 0.3s;
  }
}

%width-wrapper {
  max-width: 1280px;
  margin: 0 auto;

  @media (max-width: 1280px) {
    padding: 0 0.5rem;
  }
}

%card {
  border: 1px solid var(--surface-border);
  border-radius: var(--border-radius);
  background: var(--surface-card);
  padding: 0.5rem;
}

%description_1 {
  font-size: 1.5rem;
  color: var(--text-color-secondary);
}
%description_2 {
  color: var(--text-color-secondary);
}
%description_3 {
  color: var(--text-color-secondary);
  font-size: 0.75rem;
}

%title_1 {
  font-size: 1.5rem;
  font-weight: bold;
}

%title_2 {
  font-weight: bold;
}
%title_3 {
  font-size: 0.75rem;
  font-weight: bold;
}

%nav_item {
  color: var(--text-color-secondary);
  font-size: 0.65rem;
}
