* {
  box-sizing: border-box;
}

body {
  background: var(--surface-ground);
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

.rounded {
  border-radius: var(--border-radius);
}

@media (max-width: 776px) {
  html {
    font-size: 12px;
  }
}
