:root {
  --primary-color: rgb(175 235 0) !important;
  --surface-hover: rgba(255, 255, 255, 0.1) !important;
}

* {
  box-sizing: border-box;
}

body,
html {
  background: var(--surface-ground);
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

.rounded {
  border-radius: var(--border-radius);
}

.side-bar-header {
  @extend %title_1;
}

@media (max-width: 776px) {
  html {
    font-size: 12px;
  }
}
