// inputtext
.p-inputtext:enabled:hover,
.p-inputtext:hover,
.p-inputtext:focus {
  border-color: var(--primary-color);
}

// p-menu
.p-menu {
  width: 100%;
  padding: 0;
  border: none;
}

// gallery
.p-galleria .p-galleria-item-nav {
  z-index: 100;
}

// rating

.p-rating {
  display: flex;
  align-items: center;
  height: 2rem;
}
